/* Theme Panel */

.theme-panel{
    position: fixed;
    right: -1px;
    top: 25%;
    z-index: 100;
    transition: 0.4s;
    transform: translateX(100%);
}

.theme-body {
    background-color: #495fef;
    border: transparent;
    max-width: 185px;
    padding: 15px 13px;
    text-align: center;
    border-bottom-left-radius: 25px;
    position: relative;
}
.theme-body > span{
    color: white;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.09px;
    line-height: 26px;
    padding-bottom: 8px;
    display: inline-flex
}

.theme-body .btn-group {
    box-shadow: 0 12px 34px rgb(22 28 45 / 20%);
    border-radius: 33px;
    background-color: white;
    overflow: hidden;
    display: flex;
    max-width: 153px;
}
.theme-body .btn-group .switcher-btn {
    background: transparent;
    border: none;
    width: 50%;
    font-size: 11px;
    font-weight: 700;
    height: 39px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.theme-body .theme-tab {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 50px;
    border: 0;
    background: #495fef;
    border-bottom-left-radius: 10px;
    color: white;
    border-top-left-radius: 10px;
    left: 1px;
}

.theme-tab i {
    font-size: 1rem;
    transition:0.4s;
    pointer-events: none;
}
/* when the theme panel is open, apply these styles */
.theme-panel.open .theme-tab i {
    transform: scaleX(-1);
}

.theme-body .btn-group .switcher-btn.active {
    background-color: #ced4e7;
}

.theme-panel.open {
    transform: translateX(0);
}
/* NAVBAR */
.navbar {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem 1rem;
    width:100%;
}

.navbar .navbar-nav {
    margin-left: auto;
}
.brand-logo {
    width: max-content;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
}
.brand-logo img{
    width: 50px;
    height: 50px;
}
.brand-logo a h2 {
    font-size: 2rem;
    letter-spacing: -0.5px;
    font-weight: 200;
    line-height: 1.42;
}
.main-menu {
    display: flex;
}

.main-menu .nav-item {
    padding: 18px;
    font-size: 22px;
    line-height: 26px;
    cursor: pointer;
    text-transform: lowercase;
}
/* HERO */

.hero-content{
    text-align: center;
    padding: 5.5rem 0;
}

.code-icon {
    color: var(--color-text);
    padding: 1.25rem 1.5rem;
    border-radius: 50rem;
    display: inline-block;
    margin-bottom: 2.5rem;
    text-align: center;
 }

 .code-icon .fa-code{
    font-size: 2rem;
    display: inline-block;
    line-height: 1.5;
 }

 /* PORTfolio */

 .search-container label {
    position: relative;
    display: inline-flex;
    align-items: center;
 }

 .search-input {
    padding: 0.75rem 1.5rem;
    background-color: #f1f3f5;
    border: 1px solid #f1f3f5;
    border-radius: 50rem;
 }

 .search-input:focus {
    outline: none;
    border-color: #4dabf7;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0125), 0 0 8px rgba(34, 139, 230, 0.5);
 }
 .search-container .fa-search {
    position: absolute;
    right: 15px;
    color: #262626;
}

.portfolio-grid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.portfolio-filter-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio-filter-nav .filter-link {
    padding: 0 1rem;
    font-size: 0.8125rem;
    line-height: 1.6;
    letter-spacing: 1.63px;
    font-weight: 700;
}

.portfolio-filter-nav .filter-link:hover {
cursor: pointer;
}

.portfolio-filter-nav .filter-link.active {
    color: #495fef;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem;
    justify-content: center;
}

.portfolio-card {
    display:relative;
    margin: 0 1rem 1.85rem;
    max-width: 410px;
}

.card-body img {
    width:255px;
    height: 255px;
    background: #262626;
    object-fit: contain;
    border-radius:8px;
    cursor: pointer;
}
.card-body{
    position: relative;
}

.card-popup-box div{
    color: var(--color-text-opacity);
    font-size: 0.8125rem;
    line-height: 1.63;
    letter-spacing: 1.63px;
    padding-bottom: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    pointer-events: none;
}

.card-popup-box h3{
    pointer-events: none;
    color: var(--color-headings);
    font-size: 1.3125rem;
    letter-spacing: -0.5px;
    font-weight: 700;
    margin-bottom: 0;
}

.card-popup-box {
    position:absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    transition: 0.4s;
    z-index: 1;
    padding: 1.25rem 1.875rem;
    opacity: 0;
}

.card-popup-box:before {
    position: absolute;
    content:"";
    background:var(--bg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.9;
    border-radius: 8px;
}

.portfolio-card:hover .card-popup-box {
    bottom: 20px;
    opacity: 1;
    cursor: pointer;
}

/* reviews */

.reviews {
    align-items: center;
    text-align: center;
    position: relative;
    margin: 3rem 0rem;
    overflow: hidden;
}

.reviews .review-title{
    font-size: 18px;
    font-weight: 600;
}

.review-carousel {
    display: flex;
    justify-content: center;
    height:250px;
    pointer-events: none;
    margin: 200px 0 50px;
}
.review-carousel .review-item {
    background: var(--bg-panel);
    color: var(--color-text-base);
    max-width: 450px;
    width: 100%;
    padding: 2.5rem;
    border-radius: 24px;
    width: 100%;
    box-shadow: 0 22px 34px rgb(22 28 45 / 18%);
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index:-1;
    opacity:0;
}

.review-item .review-text {
    padding-bottom: 2.5rem;
    text-align: left;
}

.review-item.active {
    transform: translateY(-10%);
    z-index: 10;
    opacity:1;
}
.review-item.next {
    transform:translateX(75%);
    opacity: 0.25;
}
.review-item.previous {
    transform:translateX(-75%);
    opacity: 0.25;
}
.review-preview {
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -3rem;
    z-index: -1;
    opacity: 0.5;
}
.review-preview img {
    width:100%;
}

.review-item .review-author {
    display: flex;
    text-align: left;
    align-items: center;
}
.review-item .review-author .avatar {
    width: 46px;
    height: 46px;
    margin-right: 14px;
}
.review-item .review-author .avatar img {
    width: 100%;
    border-radius: 50%;
}
.review-item .review-author .details div:nth-child(1) {
    font-size: 18px;
    line-height: 1.5;
}
.review-item .review-author .details div:nth-child(2) {color: #6b6b6b;}

.slide-ctrl-container {
    margin-top:50px;
}

.slide-ctrl-container button {
    background: none;
    border: none;
    outline: none;
    color: var(--color-text);
    font-size: 32px;
    transition: all 0.3s ease-in-out;
    opacity: 0.75;
}

.slide-ctrl-container button:hover {
    opacity:1;
}

.slide-ctrl-container button:nth-child(1) {padding-right:10px;}
.slide-ctrl-container button:nth-child(2) {padding-left:10px;}
/* MODALS */

.modal {
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
}

.modal,
.full-site-modal {
    /* position with all directions fixed to Zero, pins the container to the entire screen */
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding: 1rem;
    transition: all 0.35s ease-in;
    /* modal stays hidden until click on and new visible class is dyanmically added with JS */
    visibility: hidden;
    opacity: 0;
    z-index:90;
}

.modal-dialog {
    max-width: 800px;
    max-height: 80vh;
    background: var(--bg-panel);
    color: var(--color-text-base);
    overflow: hidden;
    padding: 1.25rem 1.85rem;
    border-radius: 5px;
    cursor: default;
}

.modal-header {
    display:flex;
    padding-bottom: 1rem;
    /* space between seperates two elements to seperate sides of the flex box */
    justify-content: space-between;
}

.modal-dialog .modal-header h3{
    color: var(--color-text-base)
}
.modal-header .fa-times {
    font-size: 1.5rem;
    transition: all 0.5s ease-in;
}

.modal-header .fa-times:hover {
    transition: scale(1.1);
    cursor: pointer;
}

.full-site-modal.is-visible,
.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-body {
    display: flex;
    align-items: center;
}

.modal-body .img-wrapper {
    max-width: 200px;
    margin-right: 0.75rem;
}

.modal-body .img-wrapper img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

[data-animation="zoomInOut"].full-site-modal {
    transform: scale(0.2);
}
/* can use scale(1); or transform:none; to simple end the animation or restore to original size */

[data-animation = 'slideInOutTop'] .modal-dialog{
    opacity: 0;
    transition: all 0.5s;
}

[data-animation = 'slideInOutTop'].is-visible .modal-dialog{
    opacity: 1;
    transition-delay: 0.2s;
}

[data-animation = 'slideInOutTop'] .modal-dialog{
    transform: translateY(-100%);
    
}

[data-animation="zoomInOut"].full-site-modal.is-visible ,
[data-animation='slideInOutTop'].is-visible .modal-dialog {
    transform: none;
}